<h1 class="text-center jumbotron">
    {{typeFlights}}
</h1>

<div align="center">
    <form>
        <div class="form-row align-items-center centerForm">
            <div class="col-auto my-1">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Filter by origin location: </label>
                <input type="text" [(ngModel)]="selectedOriginLocation" required [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-auto my-1">
                <div class="bottonPadding">
                    <button (click)="filterByOriginLocation()" class="btn btn-primary">Filter</button>
                    <a (click)="clear()" class="btn btn-primary">List all flights</a>
                </div>
            </div>
        </div>
    </form>
</div>


<div *ngFor="let airline of airlines" class="center">
    <h1>{{airline.name}}</h1>
    <div class="row card-group">
        <div class="col-5" *ngFor="let flight of airline.flightList; let i = index">
            <div class="card w-100 ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm" id="centerImage">
                            <img class="center-block" src="{{flight.flightImageUrl}}" style="width:100%">
                        </div>
                        <div class="col-sm bottom-align-text">

                            <h4>{{flight.origin}} - {{flight.destiny}}</h4>
                            <h5>{{flight.flightDay | date : "medium"}}</h5>
                            <h6>${{flight.cost}} COP</h6>

                        </div>
                        <div class="col-sm" id="wrapper">
                            <a (click)="reservate(flight)" class="btn btn-primary">Reserve</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>


<popup (confirmClick)="confirmReservation()" (cancelClick)="cancelReservation()">
    <label>Are you of legal age? (more than 18 years) :
        <input type="checkbox" [checked]="isAdult" (change)="isAdult = !isAdult">
    </label>
    <br/>
    <br/>
    <br/>
    <label *ngIf="isAdult">Enter your cedule:
        <input type="number" [(ngModel)]="cedule" required>
    </label>
    <br/>
    <br/>
</popup>